#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}
footer {
    display:flex;
    justify-content: center;
}
.movie-poster:hover {
    cursor: pointer;
}
h3 {
    font-size: 20px;
}