#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    
}
footer {
    display: flex;
    justify-content: center;
}
.movie-poster {
    position: relative;
}
.movie-poster:hover {
    cursor: pointer;
}
.simmovie:hover {
    cursor:pointer;
}
.actor-poster:hover {
    cursor: pointer;
}
h3 {
    font-size: 20px;
}

.movie-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s visibility 0.1s;
}
.movie-poster:hover .movie-info {
    visibility: visible;
    opacity: 0.8;
}
.desc {
    font-size: 10px;
}
img {
    width: 100%;
}

.flame{
    background-image: url("flame.gif");
   background-position: center;
   color:white;
}
.logo-size{
    max-width: 10%;
    height: auto;

}
.simmovie{
    width: 180px;
    height: 320px;
}
